@media only screen and (max-width: 768px) {
    #section-representante {
        position: relative;
        // height: 430px;
        padding: 0 30px 30px 30px;
        // padding-bottom: 30px;
        display: flex;
        justify-content: center;
        width: 100%;

        background-image: url("/assets/img/representante-background.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        #form-representante {
            padding-top: 30px;
            width: 100%;
            p {
                font-family: "rajdhanib";
                font-size: 30px;
                color: #00a3d0;
                text-align: center;
                margin-bottom: 10px;
            }

            input {
                border-radius: 30px;
            }
            textarea {
                border-radius: 10px;
                height: 130px;
            }

            input,
            textarea {
                width: 100%;
                background: #545454;
                border: none;
                padding: 10px 15px;
                font-family: "rajdhani";
                color: #ffffff;
                margin-bottom: 10px;
            }

            button {
                background: linear-gradient(to right, #00b2e4, #77e3ff);
                color: white;
                border-radius: 30px;
                width: 100%;
                border: none;
                padding: 5px;
                font-family: "rajdhani";
                &[disabled] {
                    background: #c1c1c1;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    #section-representante {
        position: relative;
        // height: 430px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        width: 100%;

        background-image: url("/assets/img/representante-background.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        #form-representante {
            padding-top: 30px;
            width: 500px;
            p {
                font-family: "rajdhanib";
                font-size: 40px;
                color: #00a3d0;
                text-align: center;
                margin-bottom: 30px;
            }

            input {
                border-radius: 30px;
            }
            textarea {
                border-radius: 10px;
                height: 130px;
            }

            input,
            textarea {
                width: 500px;
                background: #545454;
                border: none;
                padding: 10px 15px;
                font-family: "rajdhani";
                color: #ffffff;
                margin-bottom: 10px;
            }

            button {
                background: linear-gradient(to right, #00b2e4, #77e3ff);
                color: white;
                border-radius: 30px;
                width: 500px;
                border: none;
                padding: 5px;
                font-family: "rajdhani";
                &[disabled] {
                    background: #c1c1c1;
                }
            }
        }
    }
}
