<div id="section-representante">
    <div id="form-representante">
        <p>Torne-se um representante</p>
        <form [formGroup]="formRepresentante" (ngSubmit)="submitFormRepresentante()">
            <input formControlName="nome" placeholder="Nome">
            <input formControlName="email" placeholder="E-mail">
            <input formControlName="telefone" placeholder="Telefone" mask="{{'(00) 00000-0000'}}">
            <input formControlName="produto" placeholder="Produto">
            <textarea formControlName="mensagem" placeholder="Mensagem"></textarea>
            <button type="submit" [disabled]="formRepresentante.invalid">Enviar</button>
        </form>
    </div>
</div>