@media only screen and (max-width: 768px) {
    #slider-texto {
        padding: 50px 0px;
        background-color: #fcfcfc;
    }

    ::ng-deep {
        .carousel-indicators li {
            background-color: #c1c1c1;
            border-radius: 100%;
            width: 8px;
            height: 8px;

            &.active {
                background-color: #00a3d0;
            }
        }

        .carousel-control-prev-icon {
            background-image: url("https://image.flaticon.com/icons/svg/126/126492.svg");
        }
        .carousel-control-next-icon {
            background-image: url("https://image.flaticon.com/icons/svg/126/126490.svg");
        }

        .carousel-indicators {
            bottom: -50px;
        }
    }
    .text-carrossel {
        .title-carrossel {
            font-family: "rajdhanib";
            font-size: 20px;
            color: #00a3d0;
            text-align: center;
            margin-bottom: 5px;
        }

        .content-carrossel {
            font-size: 14px;
            font-family: "rajdhani";
            color: #707070;
            text-align: center;
            width: 230px;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    #slider-texto {
        padding: 70px 0px;
        background-color: #fcfcfc;
    }

    ::ng-deep {
        .carousel-indicators li {
            background-color: #c1c1c1;
            border-radius: 100%;
            width: 10px;
            height: 10px;

            &.active {
                background-color: #00a3d0;
            }
        }

        .carousel-control-prev-icon {
            background-image: url("https://image.flaticon.com/icons/svg/126/126492.svg");
        }
        .carousel-control-next-icon {
            background-image: url("https://image.flaticon.com/icons/svg/126/126490.svg");
        }

        .carousel-indicators {
            bottom: -50px;
        }
    }
    .text-carrossel {
        .title-carrossel {
            font-family: "rajdhanib";
            font-size: 70px;
            color: #00a3d0;
            text-align: center;
            margin-bottom: 5px;
        }

        .content-carrossel {
            font-size: 30px;
            font-family: "rajdhani";
            color: #707070;
            text-align: center;
            width: 610px;
            margin: 0 auto;
        }
    }
}
