<div id="main-content">
    <app-header [page]="'home'"></app-header>
    <app-slider></app-slider>
    <div id="slider-texto">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="text-carrossel">
                    <p class="title-carrossel">
                        Inteligente
                    </p>
                    <p class="content-carrossel">
                        Um sistema ligado ao ar-condicionado e um aplicativo de controle, ambos com comunicação via
                        nuvem.
                    </p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="text-carrossel">
                    <p class="title-carrossel">
                        Mais que um sistema
                    </p>
                    <p class="content-carrossel">
                        É IOT, economia de energia, geração de relatórios, envio de alertas e uma inovação em
                        climatização.
                    </p>

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="text-carrossel">
                    <p class="title-carrossel">
                        Sem interrupções
                    </p>
                    <p class="content-carrossel">
                        Sattclima Air Control é indispensável quando o assunto é Data Center.
                    </p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="text-carrossel">
                    <p class="title-carrossel">
                        Economia e controle
                    </p>
                    <p class="content-carrossel">
                        Controle sem limite de equipamentos e economia de energia com relatórios e gráficos.
                    </p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="text-carrossel">
                    <p class="title-carrossel">
                        Onde você estiver
                    </p>
                    <p class="content-carrossel">
                        Acesse e controle seus aparelhos pelo aplicativo.
                    </p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <app-form-contato></app-form-contato>
    <app-footer></app-footer>
</div>