#div-searchbar {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 500px;
        background: #f3f3f3;
        border: none;
        padding: 10px 15px;
        font-family: "rajdhani";
        color: #707070;
        margin-bottom: 10px;
    }
}

#div-map {
    width: 100%;

    img {
        width: inherit;
        max-height: 500px;
    }
}
agm-map {
    height: 300px;
}
