<div id="div-searchbar">
    <!-- <input type="text" placeholder="Buscar por seu endereço" ngx-google-places-autocomplete > -->
    <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
        (onAddressChange)="handleAddressChange($event)" placeholder="Buscar por endereço" />
    <!-- <p>{{formattedAddress}}</p> -->
</div>
<div id="div-map">
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(infowindow)"
            [latitude]="m.lat" [longitude]="m.lng" [label]="m.label">
            <agm-info-window #infowindow>
                <strong>{{m.info}}</strong>
            </agm-info-window>
        </agm-marker>


    </agm-map>
    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyDP4mEdmtqYVCNupz0PXobAcBm1tEUXRvY"> -->
    <!-- <img src="https://mundohacker.net.br/wp-content/uploads/2019/04/capture.google.mundohacker.png"> -->
</div>