<ngb-carousel id="carousel" *ngIf="images" [showNavigationArrows]="false"
    [showNavigationIndicators]="mobile ? false : true">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]">
        </div>
    </ng-template>
</ngb-carousel>