<div id="main-content">
    <app-header [page]="'representante'"></app-header>
    <app-form-representante></app-form-representante>
    <app-form-contato></app-form-contato>
    <app-footer></app-footer>
</div>