<div id="main-content">
    <app-header [page]="'suporte'"></app-header>
    <app-mapa-suporte></app-mapa-suporte>
    <!-- descomentar aqui e mudar no component -->
    <app-perguntas-frequentes></app-perguntas-frequentes>

    <app-form-contato></app-form-contato>
    <app-footer></app-footer>
</div>