@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@font-face {
    font-family: "rajdhani";
    src: url("assets/fonts/Rajdhani-Regular.ttf");
}

@font-face {
    font-family: "rajdhanib";
    src: url("assets/fonts/Rajdhani-Bold.ttf");
}

* {
    scroll-behavior: smooth;
}

p,
a,
span {
    color: #707070;
}

*,
*:focus,
*:hover {
    outline: none;
}
