<div id="form-loading" *ngIf="loading">
    <img src="assets/img/loading.gif">
</div>
<div id="section-contato">
    <!-- <div id="background">
        <!-- <img src="assets/img/imagem.png"> -->
    <!-- <img src="assets/img/ar-background.png">
        <img src="assets/img/data-background.png">
</div> -->

    <div id="form-contato">
        <p>Contato</p>
        <form [formGroup]="formContato" (ngSubmit)="submitFormContato()">
            <input formControlName="nome" type="text" placeholder="Nome">
            <input formControlName="email" type="text" placeholder="E-mail">
            <textarea formControlName="mensagem" placeholder="Mensagem"></textarea>
            <button type="submit" [disabled]="formContato.invalid">Enviar</button>
        </form>
    </div>
</div>