@media only screen and (max-width: 768px) {
    #form-loading {
        position: absolute;
        z-index: 999;
        width: 100%;
        /* text-align: center; */
        background: white;
        height: 430px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #section-contato {
        box-shadow: 0px 0px 10px #0000004d;
        position: relative;
        // height: 430px;
        display: flex;
        justify-content: center;
        width: 100%;

        background-image: url("/assets/img/bgmobile.png");
        background-repeat: no-repeat;
        // background-position: center center;
        background-size: cover;

        #form-contato {
            // padding-top: 30px;
            padding: 30px;
            // width: 500px;
            p {
                font-family: "rajdhanib";
                font-size: 30px;
                color: #00a3d0;
                text-align: center;
                margin-bottom: 5px;
            }

            input {
                border-radius: 30px;
            }

            textarea {
                border-radius: 10px;
                height: 130px;
            }

            input,
            textarea {
                width: 100%;
                background: #f3f3f3;
                border: none;
                padding: 10px 15px;
                font-family: "rajdhani";
                color: #707070;
                margin-bottom: 10px;
            }

            input:focus,
            input:hover {
                background: white;
            }
            button {
                background: linear-gradient(to right, #00b2e4, #77e3ff);
                color: white;
                border-radius: 30px;
                // width: 500px;
                width: 100%;
                border: none;
                padding: 5px;
                font-family: "rajdhani";

                &[disabled] {
                    background: #c1c1c1;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #form-loading {
        position: absolute;
        z-index: 999;
        width: 100%;
        /* text-align: center; */
        background: white;
        height: 430px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-contato {
        position: relative;
        height: 430px;
        display: flex;
        justify-content: center;
        width: 100%;

        background-image: url("/assets/img/imagem.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        #form-contato {
            padding-top: 30px;
            width: 500px;
            p {
                font-family: "rajdhanib";
                font-size: 40px;
                color: #00a3d0;
                text-align: center;
                margin-bottom: 5px;
            }

            input {
                border-radius: 30px;
            }
            textarea {
                border-radius: 10px;
                height: 130px;
            }

            input,
            textarea {
                width: 500px;
                background: #f3f3f3;
                // border: none;
                padding: 10px 15px;
                font-family: "rajdhani";
                color: #707070;
                margin-bottom: 10px;
                border: 1px solid transparent;
            }

            input:focus,
            input:hover,
            textarea:focus,
            textarea:hover {
                background: white;
                border: 1px solid rgb(0, 0, 0, 0.1);
            }

            button {
                background: linear-gradient(to right, #00b2e4, #77e3ff);
                color: white;
                border-radius: 30px;
                width: 500px;
                border: none;
                padding: 5px;
                font-family: "rajdhani";

                &[disabled] {
                    background: #c1c1c1;
                }
            }
        }
    }
}
