<div id="content-desktop" *ngIf="!mobile">
    <div id="navbar">
        <div class="row-header">
            <div class="col-2 col-navbar">
                <img id="logo-sattclima" src="assets/img/logo.png">
            </div>
            <div class="col-2 col-navbar">
                <a class="a-navbar" [routerLink]="['/home']" routerLinkActive="active">HOME</a>
            </div>
            <div class="col-2 col-navbar">
                <a class="a-navbar" [routerLink]="['/suporte']" routerLinkActive="active">SUPORTE</a>
            </div>
            <div class="col-2 col-navbar">
                <a class="a-navbar" [routerLink]="['/representante']" routerLinkActive="active">TORNE-SE
                    REPRESENTANTE</a>
            </div>
            <div class="col-2 col-navbar" (click)="scrollFunc()">
                <a class="a-navbar">CONTATO</a>
            </div>

        </div>
        <div id="col-acesso-exclusivo" class="col-navbar">
            <a class="a-navbar">ACESSO EXCLUSIVO</a>
        </div>
    </div>
</div>
<div id="content-mobile" *ngIf="mobile">
    <div id="navbar">
        <div id="div-padding">
            <div class="col-logo">
                <img id="logo-sattclima" src="assets/img/logo.png">
            </div>

            <a class="actual-page active"
                (click)="toggleDropdown()">{{actualPage == 'representante' ? 'TORNE-SE REPRESENTANTE' : actualPage}}
                &nbsp;<fa-icon [icon]="faChevronDown"></fa-icon></a>


            <div id="dropdown-pages" [hidden]="!dropdownOpen">
                <a *ngFor="let page of pages" class="a-dropdown" [routerLink]="['/'+page]"
                    [hidden]="page == actualPage">{{page == 'representante' ? 'TORNE-SE REPRESENTANTE' : page}}</a>
                <a class="a-dropdown" (click)="scrollFunc()">CONTATO</a>
            </div>
        </div>

        <div id="col-acesso-exclusivo">
            <a class="a-navbar">ACESSO EXCLUSIVO</a>
        </div>
    </div>
</div>