@media only screen and (max-width: 768px) {
    #navbar {
        position: relative;
        z-index: 999;
        box-shadow: 0px 0px 10px #00000054;
        display: flex;

        #div-padding {
            padding: 15px;
            display: flex;
            width: 80%;
        }

        #logo-sattclima {
            height: 30px;
        }

        .col-logo {
            width: 20%;
            display: flex;
            align-items: center;
        }

        .col-navbar {
            display: flex;
            justify-content: center;
            align-items: center;

            .a-navbar {
                font-family: "rajdhani";
                color: #707070;
                cursor: pointer;

                &.active {
                    color: #00a3d0;
                }
            }
        }

        .actual-page {
            display: flex;
            align-items: center;
            font-family: "rajdhani";
            width: 80%;
            text-transform: uppercase;
            margin-left: 20px;
            &.active {
                color: #00a3d0;
            }
        }

        #dropdown-pages {
            position: absolute;
            top: 60px;
            background: white;
            padding: 10px;
            margin-left: 15%;
            width: 200px;

            .a-dropdown {
                display: block;
                font-family: "rajdhani";
                width: 100%;
                text-transform: uppercase;
            }
        }

        #col-acesso-exclusivo {
            width: 40%;
            background: #00a3d0;
            border-radius: 30px 0px 0px 30px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            .a-navbar {
                font-family: "rajdhani";
                color: white;
                font-size: 14px;
                &.active {
                    color: #00a3d0;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #navbar {
        display: flex;
        position: relative;
        z-index: 999;
        box-shadow: 0px 0px 10px #00000054;

        .row-header {
            display: flex;
            align-items: center;
            width: 80%;
            padding: 15px;
        }

        #logo-sattclima {
            height: 50px;
        }

        .col-navbar {
            display: flex;
            justify-content: center;
            align-items: center;

            .a-navbar {
                font-family: "rajdhani";
                color: #707070;
                cursor: pointer;

                &.active {
                    color: #00a3d0;
                }
            }
        }

        #col-acesso-exclusivo {
            width: 20%;
            background: #00a3d0;
            border-radius: 200px 0px 0px 200px;

            .a-navbar {
                font-family: "rajdhani";
                color: white;

                &.active {
                    color: #00a3d0;
                }
            }
        }
    }
}
