<div id="title">
    <p>Perguntas frequentes</p>
</div>
<div id="div-perguntas">
    <div id="accordion-faq">
        <div class="accordion" id="accordion">
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-1">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta 1
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-1" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 1
                    </div>
                </div>
            </div>
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-2">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta 2
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-2" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 2
                    </div>
                </div>
            </div>
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-3">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta3
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-3" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 3
                    </div>
                </div>
            </div>
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-4">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta 4
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-4" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 4
                    </div>
                </div>
            </div>
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-5">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta 5
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-5" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 5
                    </div>
                </div>
            </div>
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-6">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta 6
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-6" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 6
                    </div>
                </div>
            </div>
            <div class="card pergunta-faq">
                <div class="card-header" data-toggle="collapse" data-target="#card-resposta-7">
                    <div class="row row-pergunta">
                        <div class="col-10" no-padding>
                            <h2 class="pergunta-titulo">
                                Pergunta 7
                            </h2>
                        </div>
                        <div class="col-2">
                            <a aria-expanded="true">
                                <fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="card-resposta-7" class="collapse collapsed" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        Resposta 7
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>