#div-perguntas {
    display: flex;
    justify-content: center;

    #accordion-faq {
        width: 80%;
        display: inline-block;
        padding-bottom: 40px;

        .pergunta-faq {
            background: white;
            border: none;
            margin: 20px 0;
            // box-shadow: 0 0 14px rgb(0, 0, 0, 0.1);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
            // border-radius: 5px;
            border-radius: 30px;

            .card-header {
                height: 45px;
                display: flex;
                align-items: center;
                background: #f3f3f3;

                border-radius: 30px;
                width: 100%;
                cursor: pointer;
            }

            .row-pergunta {
                width: 100%;
                display: flex;
                align-items: center;
                color: #707070;
                a {
                    font-size: 20px;
                    // color: $primary-color;
                }
                .col-2 {
                    text-align: right;
                }
            }
            .pergunta-titulo {
                font-size: 15px;
                margin-bottom: 0px;
                color: #707070;
                line-height: 25px;
                font-weight: 500;
            }
        }
    }
}

#title {
    margin: 20px 0 0 0;
    p {
        margin-bottom: 0px;
        font-size: 30px;
        color: #00a3d0;
        font-family: "rajdhanib";
        text-align: center;
    }
}
