<div id="content-desktop" *ngIf="!mobile">
    <div id="main-footer">
        <div class="row">
            <div id="lista-icones">
                <div class="icone-footer">
                    <img src="assets/img/ar.png">
                    <p>AR CONDICIONADO</p>
                </div>
                <div class="icone-footer">
                    <img src="assets/img/cftv.png">
                    <p>CFTV</p>
                </div>
                <div class="icone-footer">
                    <img src="assets/img/fotovoltaica.png">
                    <p>ENERGIA FOTOVOLTÁICA</p>
                </div>
                <div class="icone-footer">
                    <img src="assets/img/fabrica.png">
                    <p>FÁBRICA DE APPS E GAMES</p>
                </div>
                <div class="icone-footer">
                    <img src="assets/img/fibra.png">
                    <p>FIBRA ÓPTICA</p>
                </div>
                <div class="icone-footer">
                    <img src="assets/img/pabx.png">
                    <p>PABX IP</p>
                </div>
                <div class="icone-footer">
                    <img src="assets/img/rede.png">
                    <p>REDE ESTRUTURADA</p>
                </div>
            </div>

            <div id="logo-satturno">
                <img src="assets/img/grupo-satturno.png">
            </div>

            <div id="acessar-satturno">
                <button (click)="goToSatturno()">Acessar site</button>
            </div>
        </div>
        <div id="row-direitos">
            <p>
                2019 Tantto Tecnologia. <span> Todos os direitos reservados</span>
            </p>
        </div>
    </div>
</div>

<div id="content-mobile" *ngIf="mobile">
    <div id="main-footer">
        <div class="row">
            <div class="col-6">
                <div id="logo-satturno">
                    <img src="assets/img/grupo-satturno.png">
                </div>

            </div>
            <div class="col-6">
                <div id="acessar-satturno">
                    <button (click)="goToSatturno()">Acessar site</button>
                </div>
            </div>

        </div>
        <div id="row-direitos">
            <p>
                2019 Tantto Tecnologia. <span> Todos os direitos reservados</span>
            </p>
        </div>
    </div>
</div>