@media only screen and (max-width: 768px) {
    #main-footer {
        width: 100%;
        background: #393939;

        #row-direitos {
            background: #262626;
            padding: 10px 30px;

            p {
                font-size: 12px;
                margin-bottom: 0px;
                font-family: "Roboto";
                font-weight: 300;
                color: #fff;
                span {
                    font-family: "Roboto";
                    font-weight: 100;
                    color: #fff;
                }
            }
        }

        .row {
            margin: 0 auto;
            justify-content: space-between;
            display: flex;
            align-items: center;
            padding: 30px;
        }

        #lista-icones {
            display: flex;
            align-items: center;

            .icone-footer {
                margin-right: 20px;
                text-align: center;
                height: 70px;

                img {
                    width: 30px;
                }
                p {
                    margin-bottom: 0px;
                    margin-top: 10px;
                    color: #ffffff;
                    font-size: 8px;
                    font-family: "rajdhani";
                    text-align: center;
                    width: 65px;
                }
            }
        }

        #logo-satturno {
            img {
                width: 100%;
                height: auto;
            }
        }

        #acessar-satturno {
            button {
                background: linear-gradient(to right, #fbaf33, #e98329);
                color: white;
                font-family: "rajdhani";
                border: none;
                border-radius: 30px;
                width: 100%;
                height: 30px;
                // font-size: 20px;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    #main-footer {
        width: 100%;
        background: #393939;

        #row-direitos {
            background: #262626;
            padding: 10px 30px;
            p {
                margin-bottom: 0px;
                font-family: "Roboto";
                font-weight: 300;
                color: #fff;
                span {
                    font-family: "Roboto";
                    font-weight: 100;
                    color: #fff;
                }
            }
        }

        .row {
            margin: 0 auto;
            justify-content: space-between;
            display: flex;
            align-items: center;
            width: 65%;
            display: flex;
            // align-items: center;
            // justify-content: center;
            padding: 50px;
        }

        #lista-icones {
            display: flex;
            align-items: center;

            .icone-footer {
                margin-right: 20px;
                text-align: center;
                height: 70px;

                img {
                    width: 30px;
                }
                p {
                    margin-bottom: 0px;
                    margin-top: 10px;
                    color: #ffffff;
                    font-size: 8px;
                    font-family: "rajdhani";
                    text-align: center;
                    width: 65px;
                }
            }
        }

        #logo-satturno {
            img {
                width: 200px;
                height: auto;
            }
        }

        #acessar-satturno {
            button {
                background: linear-gradient(to right, #fbaf33, #e98329);
                color: white;
                font-family: "rajdhani";
                border: none;
                border-radius: 30px;
                width: 285px;
                height: 55px;
                font-size: 20px;
            }
        }
    }
}
